* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  min-height: 100vh;
  color: white;
  font-family: "poppins", sans-serif;
  background-image: linear-gradient(120deg, #42275a, #734b6d);
}

header {
  font-size: 1.5rem;
  font-weight: 500;
}

header,
form {
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

form input {
  min-width: 30%;
  padding: 0.5rem;
}

form input,
form button {
  font-family: "poppins", sans-serif;
  font-size: 1.5rem;
  border: none;
  outline: none;
  background: white;
}

button {
  color: #42275a;
  cursor: pointer;
  transition: all 0.5s ease;
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  background: white;
}

button:hover {
  color: white;
  background: #42275a;
}

.task-list-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-list {
  min-width: 25%;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  color: black;
  font-size: 1.2rem;
  margin: 0.5rem;
  transition: all 0.5s ease;
}

.task li {
  flex: 1;
  padding: 0.5rem;
}

.task .complete-btn,
.task .remove-btn {
  color: white;
  font-size: 1rem;
}

.task .remove-btn {
  background: #c25261;
}

.task .complete-btn {
  background: #5bce81;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}
